# compiled output
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.geany
*.sublime-project
*.sublime-workspace
.vscode
.venv/
