on:
    workflow_call:
        secrets:
            CENTRAL_USERNAME:
                required: true
            CENTRAL_TOKEN:
                required: true

jobs:
    maven-deploy-snapshot:
        runs-on: [ubuntu-latest]
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Set up JDK 21
              uses: actions/setup-java@v4
              with:
                  java-version: 21
                  distribution: "temurin"

            - name: Cache
              uses: actions/cache@v4
              with:
                  path: ~/.m2/repository
                  key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}

            - name: Installing local dependencies
              run: mvn -U -B clean initialize

            - name: Deploy project snapshot
              run: mvn -U -B -DskipTests deploy -P snapshot -s .mvn/settings.xml
              env:
                  CENTRAL_USERNAME: ${{ secrets.CENTRAL_USERNAME }}
                  CENTRAL_TOKEN: ${{ secrets.CENTRAL_TOKEN }}
